.about{
  .aboutQuote{
    font-size: 2.5em;
    color: #2690ff;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
  }

  .meeting{
    display: flex;
    flex-flow: row;

    .meetingBackground{
      background: linear-gradient(50deg, #0039ff, #0090ff);
      height: 500px;
      position: relative;
      flex: .75 1 auto;

      img{
        width: 800px;
        margin: 0 20%;
        position: absolute;
        top: 25px;
        box-shadow: 3px 3px 10px #0078d46e;
      }      
    }
  }

  .meetingText{
    padding: 0 20%;
    font-weight: 600;
    flex: .5 1;

    .meetingHeader{
      font-size: 20px;
      line-height: 25px;
      color: #0090ff;
    }

    .meetingBody{
      font-size: 15px;
      line-height: 25px;
      color: #4a4c4e;
      margin: 1.5em 0;
    }
  }
  
}