.about{
  .aboutQuote{
    font-size: 2.5em;
    color: #2690ff;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
  }

  .meeting{
    display: flex;
    flex-flow: row;

    .meetingBackground{
      background: linear-gradient(50deg, #0039ff, #0090ff);
      height: 500px;
      position: relative;
      flex: .75 1 auto;
      border-radius: 0 5px 5px 0;

      img{
        width: 800px;
        margin: 0 20%;
        position: absolute;
        top: 25px;
        box-shadow: 3px 3px 10px #0078d46e;
        border-radius: 5px;
      }      
    }
  }

  .meetingText{
    padding: 0 20%;
    font-weight: 600;
    flex: .5 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .meetingHeader{
      font-size: 20px;
      line-height: 25px;
      color: #0090ff;
    }

    .meetingBody{
      font-size: 15px;
      line-height: 32px;
      line-height: 25px;
      color: $fc-black;
      margin: 1.5em 0;
      font-weight: 400;
    }
  }
  a{
    color: white;
    text-decoration: none;
  }
}