.excitedQuote{
  height: 30vh;
  background: $fc-darkWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 1px 1px 10px #0078d46e;

  p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #0090ff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .author{
    color: black;
    margin-top: 1.5em;
    font-weight: 600;

    span{
      font-weight: 100;
      font-size: .75em;
      font-style: italic;
    }
  }
}