nav{
  background: white;
  font-weight: 600;
  height: 6vh;
  position: relative;
  box-shadow: 1px 1px 10px #0078d46e;
  display: flex;
  align-items: center;

  .logo{
    margin-left: 50px;
    img{
      width: 35px;
    }
  }

  a{
    text-decoration: none;
    color: $fc-darkBlue;
    padding: 20px;
  }

  button{
    margin-left: auto;
    margin-right: 50px;

    a{
      color: white;
    }
  }
}

.landing{
  background: linear-gradient(#00000057, #00000057), url(/img/landing1.jpg) top no-repeat;
  background-size: cover;
  height: 100vh;

  .landingBody{
    color: white;
    font-weight: 600;
    height: 94vh;
    letter-spacing: 2px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .landingTitle{
      margin-bottom: 10px;
      color: white;

      span{
        text-shadow: 0px 0px 3px $fc-blue;
      }
    }

    button{
      margin-top: 20px;

      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}