.services{
  padding: 10em 0;
  background: #f9f9f9;
  .servicesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
  }
}

.card {
  cursor: pointer;
    background: linear-gradient(50deg, #0039ff, #0090ff, #0090ff);
    padding: 20px;
    transform-style: preserve-3d;
    transition: all 1.25s ease-in-out;
    perspective: 600;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 10px #312f2f;

    .material-icons{
      color: orange;
      font-size: 30px;
      vertical-align: middle;
    }

  &:hover{
    box-shadow: 0px 0px 10px 3px #0078d4a1;
  }

.side {
  backface-visibility: hidden;
  overflow: hidden;
  i{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
    color: #003fff;
  }

  img{
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 5px;
  }

  p{
    color: #9ea4ab;
    text-align: right;
    font-weight: 500;
    font-size: 17px;
    text-shadow: 1px 1px #003eff;
    margin-bottom: 1em;

    span{
      font-style: italic;
    }
  }
  }
  .back {
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    right: .5px;
    height: 92%;
    cursor: pointer;
    background: linear-gradient(50deg, #0039ff, #0090ff, #0090ff);
    padding: 20px;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    perspective: 600;
    border-radius: 5px;

    &:hover{
    box-shadow: 0px 0px 10px #0078d46e;
    }

    i{
      color: #f9f9f9;
      font-size: 25px;
      padding: .75em;

      
    }
    
  } 

  .cardBody{
    background: white;
    border-radius: 5px;
    color: $fc-blue;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 0 10%;

    .cardHead{
      padding: 2em 0;
    text-align: center;
    font-size: 1.5em;
    color: $fc-darkBlue;
    }

    .cardBodyDescription{
      color: $fc-black;
    }

      .more{
        padding: 2em 0;
      }
    }
  }

.flipped {
transform: rotateY(180deg);
}


.menuCard{
display: none;
}

@media only screen and (max-width: 1250px) {
.card{
  width: 95%;
}
}

@media only screen and (max-width: 1188px) {
.menuCard{
  display: unset;
  padding: 100px;
  text-align: center;
  
  &-text{
    text-decoration: none;
    color: black;
    font-family: "Playfair Display",serif;
    font-size: 50px;
    text-transform: capitalize;
    position: static;
  }

  &-small{
    display: none;
  }
}

.card-grid{
  padding-bottom: 50px;
}
}

@media only screen and (max-width: 770px) {
.card{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
}

@media only screen and (max-width: 400px) {
.special-title{
  font-size: 1.75em;
}

.special-menu{
  padding-bottom: 15em;
}

.view-menu{
  left: 30%;
  bottom: 7em; 
}
}